{% extends "base.html" %} <!--Importando el diseño base.html -->

{% block title %}Password Change Successful{% endblock title %} <!--Título de la página-->

{% block content %} <!--Contenido de password_change-->
    <div class="d-flex justify-content-center">
        <div class="card p-4" style="width: 100%; max-width: 1000px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>¡Cambio de contraseña correcto!</h1>
            <p>Su contraseña ha sido actualizada exitosamente. <img src="/static/img/paloma.png" class="img-fluid ms-2" style="width: 2%;"></p>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de password_change-->