{% extends "base.html" %} <!--Importando el diseño base.html -->

{% load crispy_forms_tags %} <!--Importando los formatos crispy-->

{% block title %}Enter new password{% endblock title %} <!--Título de la página-->

{% block content %} <!--Contenido de password-->
    <div class="d-flex justify-content-center">
        <div class="card p-4" style="width: 100%; max-width: 600px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>Cree una nueva contraseña!</h1>
            <form method="POST"> <!--Formato para iniciar sesión-->
                {% csrf_token %} <!--Medida de seguridad para prevenir ataques CSRF-->
                {{ form|crispy }} <!--Formato crispy para login-->
                <input class="btn btn-success" type="submit" value="Cambiar mi contraseña">
            </form>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de login-->