{% extends "base.html" %} <!--Importando el diseño base.html -->

{% block title %}Password reset complete{% endblock title %} <!--Título de la página-->

{% block content %} <!--Contenido de password-->
    <div class="d-flex justify-content-center">
        <div class="card p-4" style="width: 100%; max-width: 600px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>Contraseña recibida!</h1>
            <p>Su nueva contraseña ha sido guardada <img src="/static/img/paloma.png" class="img-fluid ms-2" style="width: 3%;"></p>
            <p>Ahora puede iniciar sesión en <a href="{% url 'login' %}">Log In</a></p>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de login-->