{% extends "base.html" %} <!--Importando el diseño base.html -->

{% load crispy_forms_tags %} <!--Importando los formatos crispy-->

{% block title %}Password Change{% endblock title %} <!--Título de la página-->

{% block content %} <!--Contenido de password_change-->
    <div class="d-flex justify-content-center">
        <div class="card p-4" style="width: 100%; max-width: 1000px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>Cambio de contraseña</h1>
            <p>Por tu seguridad, por favor ingresa tu antigua contraseña luego ingresa tu nueva contraseña y para verificar esta última escribela de nuevo correctamente.</p>
            <form method="POST"> <!--Formato para cambiar la contraseña-->
                {% csrf_token %} <!--Medida de seguridad para prevenir ataques CSRF-->
                {{ form|crispy }} <!--Formato crispy para el cambio de contraseña-->
                <input class="btn btn-dark" type="submit" value="Cambiar mi contraseña">
            </form>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de password_change-->