{% extends "base.html" %} <!--Importando el diseño base.html -->

{% block title %}Email Sent{% endblock title %} <!--Título de la página-->

{% block content %} <!--Contenido de password-->
    <div class="d-flex justify-content-center">
        <div class="card p-4" style="width: 100%; max-width: 600px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>Revise su correo.</h1>
            <p>En breves momentos le llegarán instruciones a su correo para su nueva contraseña.</p>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de password-->