{% extends "base.html" %} <!--Importando el diseño base.html -->

{% block content %} <!--Contenido de delete-->
    <div class="d-flex justify-content-center">
        <div class="card p-4 text-center" style="width: 100%; max-width: 600px; box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">
            <h1>Eliminar</h1>
            <form action="" method="post"> <!--Formato para borrar un artículo-->
                {% csrf_token %} <!--Medida de seguridad para prevenir ataques CSRF-->
                <p>¿Estás seguro de que deseas borrar "{{ article.title }}"?</p>
                <button class="btn btn-danger ml-2" type="submit" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;">Eliminar</button>
            </form>
        </div>
    </div>
{% endblock content %} <!--Cerrando contenido de delete-->